version: 2

jobs:
  build:
    docker:
      - image: cimg/python:3.9.9
      - image: circleci/postgres:9.6.5-alpine-ram

    steps:
      - checkout

      - run:
          name: setup_creds
          command: |
            echo $BIGQUERY_SERVICE_ACCOUNT_JSON > ${HOME}/bigquery-service-key.json

      - restore_cache:
          key: deps1-{{ .Branch }}

      - run:
          name: "Setup dbt"
          command: |
            python3 -m venv dbt_venv
            . dbt_venv/bin/activate

            python -m pip install --upgrade pip setuptools
            python -m pip install --pre dbt-core dbt-postgres dbt-redshift dbt-snowflake dbt-bigquery

      - run:
          name: "Run Tests - Postgres"
          environment:
            POSTGRES_TEST_HOST: localhost
            POSTGRES_TEST_USER: root
            POSTGRES_TEST_PASS: ""
            POSTGRES_TEST_PORT: 5432
            POSTGRES_TEST_DBNAME: circle_test
            POSTGRES_TEST_SCHEMA: codegen_integration_tests_postgres
          command: |
            . dbt_venv/bin/activate
            cd integration_tests
            cp ci/sample.profiles.yml profiles.yml
            dbt --warn-error deps --target postgres
            dbt --warn-error run-operation create_source_table --target postgres
            dbt --warn-error seed --target postgres --full-refresh
            dbt --warn-error run --target postgres
            dbt --warn-error test --target postgres

      - run:
          name: "Run Tests - Redshift"
          environment:
            REDSHIFT_TEST_SCHEMA: codegen_integration_tests_redshift
          command: |
            . dbt_venv/bin/activate
            echo `pwd`
            cd integration_tests
            cp ci/sample.profiles.yml profiles.yml
            dbt --warn-error deps --target redshift
            dbt --warn-error run-operation create_source_table --target redshift
            dbt --warn-error seed --target redshift --full-refresh
            dbt --warn-error run --target redshift
            dbt --warn-error test --target redshift

      - run:
          name: "Run Tests - Snowflake"
          environment:
            SNOWFLAKE_TEST_SCHEMA: codegen_integration_tests_snowflake
          command: |
            . dbt_venv/bin/activate
            echo `pwd`
            cd integration_tests
            cp ci/sample.profiles.yml profiles.yml
            dbt --warn-error deps --target snowflake
            dbt --warn-error run-operation create_source_table --target snowflake
            dbt --warn-error seed --target snowflake --full-refresh
            dbt --warn-error run --target snowflake
            dbt --warn-error test --target snowflake

      - run:
          name: "Run Tests - BigQuery"
          environment:
            BIGQUERY_SERVICE_KEY_PATH: "/home/circleci/bigquery-service-key.json"
            BIGQUERY_TEST_SCHEMA: codegen_integration_tests_bigquery

          command: |
            . dbt_venv/bin/activate
            echo `pwd`
            cd integration_tests
            cp ci/sample.profiles.yml profiles.yml
            dbt --warn-error deps --target bigquery-circleci
            dbt --warn-error run-operation create_source_table --target bigquery
            dbt --warn-error seed --target bigquery --full-refresh
            dbt --warn-error run --target bigquery
            dbt --warn-error test --target bigquery

      - save_cache:
          key: deps1-{{ .Branch }}
          paths:
            - "dbt_venv"

workflows:
  version: 2
  test-all:
    jobs:
      - build:
          context:
            - profile-redshift
            - profile-snowflake
            - profile-bigquery
